.game-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

[class^='row'] {
  display: flex;
  flex-direction: row;
  flex: 1;
}



[class^='column'] {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
