* {
}

.game-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

[class^='row'] {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  flex: 1;
}

[class^='column'] {
  display: flex;
  flex: 1;
}
